button {
  padding: 6px 17px;
}

input:focus,
textarea:focus {
  outline-color: var(--blue);
}

textarea {
  resize: vertical;
  font-family: inherit;
}

textarea.content {
  min-height: 25rem;
}

.footer-btn-group {
  margin-top: 25px;
}

.field {
  margin-bottom: 10px;
}

.field input[type="text"],
.field input[type="password"],
.field textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
}

.field .mandatory {
  color: var(--red);
}

.field .optional {
  color: var(--less-important);
  font-size: 0.9em;
}

.field label {
  margin-bottom: 5px;
}

.field .input-error {
  color: var(--red);
  font-size: 14px;
  margin-top: 3px;
}

/* .field .input-error::after {
  content: "\00a0";
} */
